# ==========================================
# Maven
# ==========================================
target/

# ==========================================
# Eclipse / STS
# ==========================================

# 프로젝트 설정은 GitHub에 포함시킴
# .project
# .classpath
# .settings/

# ==========================================
# Java
# ==========================================
*.class
*.log

# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db
desktop.ini

# ==========================================
# IntelliJ IDEA
# ==========================================
.idea/
*.iml

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Temporary files
# ==========================================
*.tmp
*.temp
*.swp
*.swo
*~
